<div id="<%= dom_id ql_truong %>">
  <p>
    <strong>Ten:</strong>
    <%= ql_truong.ten %>
  </p>

  <p>
    <strong>Chuyen nganh:</strong>
    <%= ql_truong.chuyen_nganh %>
  </p>

  <p>
    <strong>Vi tri:</strong>
    <%= ql_truong.vi_tri %>
  </p>

  <p>
    <strong>Thoi gian hd:</strong>
    <%= ql_truong.thoi_gian_hd %>
  </p>

  <p>
    <strong>Sl hoc sinh:</strong>
    <%= ql_truong.sl_hoc_sinh %>
  </p>

  <p>
    <strong>Nganh dt:</strong>
    <%= ql_truong.nganh_dt %>
  </p>

</div>
